<link rel="stylesheet" href="/static/checkbox.css" />  
<div class="myflex-container">  
  <ul>  
    <li>  
      <input type="checkbox" id="fruits" />  
      <label for="fruits">  
        <img src="/static/Group 1000003080.png" />  
        Fruits  
      </label>  
    </li>  
    <li>  
      <input type="checkbox" id="vegetable" />  
      <label for="vegetable">  
        <img src="/static/Group 1000003081.png" />  
        Vegetable  
      </label>  
    </li>  
    
    <li>
      <input type="checkbox" id="meat" />
      <label for="meat"
        ><img
          src="/static/Group 1000003082.png"
        />Meat
      </label>
    </li>
    <li>
      <input type="checkbox" id="juice" />
      <label for="juice"
        ><img
          src="/static/Group 1000003083.png"
        />Juice</label
      >
    </li>
    <li>
      <input type="checkbox" id="seafood" />
      <label for="seafood"
        ><img
          src="/static/Group 1000003084.png"
        />Sea food</label
      >
    </li>
    <li>
      <input type="checkbox" id="fish" />
      <label for="fish"
        ><img
          src="/static/Group 1000003085.png"
        />Fish</label
      >
    </li>
    <li>
      <input type="checkbox" id="eggmilk" />
      <label for="eggmilk"
        ><img
          src="/static/Group 1000003086.png"
        />Egg & Milk</label
      >
    </li>
    <li>
      <input type="checkbox" id="icecream" />
      <label for="icecream"
        ><img
          src="/static/Group 1000003087.png"
        />Ice cream</label
      >
    </li>
    <li>
      <input type="checkbox" id="cake" />
      <label for="cake"
        ><img
          src="/static/Group 1000003088.png"
        />Cake</label
      >
    </li>
    <!-- <li>
      <input type="checkbox" id="fruits" />
      <label for="fruits"
        ><img src="/static/Group 1000003080.png" />
        Fruits
      </label>
    </li>
    <li>
      <input type="checkbox" id="Vegetable" />
      <label for="Vegetable"
        ><img src="/static/Group 1000003081.png" />
        Vegetable
      </label>
    </li> -->
  </ul>
  <!-- <ul>
    <li>
      <input type="checkbox" id="fruits" />
      <label for="fruits"
        ><img src="/static/Group 1000003080.png" />
        Fruits
      </label>
    </li>
    <li>
      <input type="checkbox" id="Vegetable" />
      <label for="Vegetable"
        ><img src="/static/Group 1000003081.png" />
        Vegetable
      </label>
    </li>
    <li>
      <input type="checkbox" id="meat" />
      <label for="meat"
        ><img
          src="/static/Group 1000003082.png"
        />Meat
      </label>
    </li>
    <li>
      <input type="checkbox" id="juice" />
      <label for="juice"
        ><img
          src="/static/Group 1000003083.png"
        />Juice</label
      >
    </li>
    <li>
      <input type="checkbox" id="seafood" />
      <label for="seafood"
        ><img
          src="/static/Group 1000003084.png"
        />Sea food</label
      >
    </li>
    <li>
      <input type="checkbox" id="fish" />
      <label for="fish"
        ><img
          src="/static/Group 1000003085.png"
        />Fish</label
      >
    </li>
    <li>
      <input type="checkbox" id="eggmilk" />
      <label for="eggmilk"
        ><img
          src="/static/Group 1000003086.png"
        />Egg & Milk</label
      >
    </li>
    <li>
      <input type="checkbox" id="icecream" />
      <label for="icecream"
        ><img
          src="/static/Group 1000003087.png"
        />Ice cream</label
      >
    </li>
    <li>
      <input type="checkbox" id="cake" />
      <label for="cake"
        ><img
          src="/static/Group 1000003088.png"
        />Cake</label
      >
    </li>
    <li>
      <input type="checkbox" id="fruits" />
      <label for="fruits"
        ><img src="/static/Group 1000003080.png" />
        Fruits
      </label>
    </li>
    <li>
      <input type="checkbox" id="Vegetable" />
      <label for="Vegetable"
        ><img src="/static/Group 1000003081.png" />
        Vegetable
      </label>
    </li>
  </ul>
  <ul>
    <li>
      <input type="checkbox" id="fruits" />
      <label for="fruits"
        ><img src="/static/Group 1000003080.png" />
        Fruits
      </label>
    </li>
    <li>
      <input type="checkbox" id="Vegetable" />
      <label for="Vegetable"
        ><img src="/static/Group 1000003081.png" />
        Vegetable
      </label>
    </li>
    <li>
      <input type="checkbox" id="meat" />
      <label for="meat"
        ><img
          src="/static/Group 1000003082.png"
        />Meat
      </label>
    </li>
    <li>
      <input type="checkbox" id="juice" />
      <label for="juice"
        ><img
          src="/static/Group 1000003083.png"
        />Juice</label
      >
    </li>
    <li>
      <input type="checkbox" id="seafood" />
      <label for="seafood"
        ><img
          src="/static/Group 1000003084.png"
        />Sea food</label
      >
    </li>
    <li>
      <input type="checkbox" id="fish" />
      <label for="fish"
        ><img
          src="/static/Group 1000003085.png"
        />Fish</label
      >
    </li>
    <li>
      <input type="checkbox" id="eggmilk" />
      <label for="eggmilk"
        ><img
          src="/static/Group 1000003086.png"
        />Egg & Milk</label
      >
    </li>
    <li>
      <input type="checkbox" id="icecream" />
      <label for="icecream"
        ><img
          src="/static/Group 1000003087.png"
        />Ice cream</label
      >
    </li>
    <li>
      <input type="checkbox" id="cake" />
      <label for="cake"
        ><img
          src="/static/Group 1000003088.png"
        />Cake</label
      >
    </li>
    <li>
      <input type="checkbox" id="fruits" />
      <label for="fruits"
        ><img src="/static/Group 1000003080.png" />
        Fruits
      </label>
    </li>
    <li>
      <input type="checkbox" id="Vegetable" />
      <label for="Vegetable"
        ><img src="/static/Group 1000003081.png" />
        Vegetable
      </label>
    </li>
  </ul> -->
</div>
